<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人信息</title>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="css/apple.css">
	<link rel="stylesheet" href="css/city_select.css">
	<link rel="stylesheet" href="css/area.css">

</head>
<body>
<div class="vueBox">

    <div class="select_list">
        <span class="select_title">所在地</span>
        <div class="select_area" @click="getArea">
            <span class="select_value" >{{prov_text}} {{city_text}} {{dist_text}}</span>
        </div>
    </div>

    <transition name="fade" >
        <div class="area_cover" v-show="areaShow">
            <transition name="slide-fade">
                <div class="area_box" v-show="areaShow">
                    <div class="area_btn">
                        <span v-for="(item,index) in area_btn"  :class="[index?'btn_sure':'btn_cancel']" @click="sureSelect(index)">{{item}}</span>
                    </div>
                    <div class="area_main">
                        <div class="area_list" >
                            <ul class="area_prov" :style="{top: prov_top+'rem'}"  v-drag>
                                <li class="prov_list"   v-for="(prov,index) in prov_name" :style="{top:0.6*index+'rem'}">
                                    {{prov.name}}
                                </li>
                            </ul>
                            <ul class="area_city" :style="{top: city_top+'rem'}"  v-drag>
                                <li class="color_red" v-for="city in city_name[num]">
                                    {{city.name}}
                                </li>
                            </ul>
                            <ul  class="area_dist" :style="{top: dist_top+'rem'}"  v-drag v-for="(item,index) in city_name[num]" v-if="index===city_num" >
                                <li  v-for="dist in item.sub">
                                    {{ dist.name}}
                                </li>
                            </ul>

                        </div>
                    </div>


                </div>
            </transition>
        </div>
    </transition>
</div>
    <script src="js/vue.min.js"></script>
    <script src="js/vue-resource.min.js"></script>
	<script src="js/city_select.js"></script>
    <script>

    </script>
</body>
</html>