html{
    background-color: #f5f5f5;
}
.faq_box{
    width: 100%;
}
.faq_list{
    width: 100%;
    margin-top: 0.1rem;
    background-color: #fff;
}
.faq_list li {
    width: 100%;
}
.faq_q{
    height: 0.94rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.28rem;
    color: #333;
    margin-left: 0.24rem;
    padding-right: 0.24rem;
    border-bottom: 1px solid #EDEDED;
}
.faq_q_show{
    color: #1F3149;
}
.faq_a{
    padding:0  0.24rem;
    font-size: 0.24rem;
    color: #6D7886;
    line-height: 0.4rem;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -moz-transition:0.5s;
    transition:0.5s;
    background-color: #f5f5f5;
}
.hide{
    height:0;
    overflow: hidden;
}
.show{
    padding:0.3rem  0.24rem;
}
.arrow{
    width:0.16rem ;
    height:0.16rem ;
    border-left: 1px solid #D2D2D2;
    border-top: 1px solid #D2D2D2;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition:0.5s;
    -o-transition:0.5s;
    -moz-transition:0.5s;
    transition:0.5s;
}
.arrow_up{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.arrow_down{
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}