<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>美图驿馆</title>
		<link href="https://cdn.bootcdn.net/ajax/libs/Swiper/4.4.6/css/swiper.min.css" rel="stylesheet">
		<!-- 引入样式 -->
		<link href="https://cdn.bootcdn.net/ajax/libs/mint-ui/2.2.13/style.css" rel="stylesheet">
		<link rel="stylesheet" href="//at.alicdn.com/t/font_1970187_zqi8bub30pi.css">
		<link rel="stylesheet" href="css/common.css">
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/index.css">
	</head>
	<body>
		<div id="app" v-cloak>
			<component-header></component-header>
			<div class="menu-box"></div>
			<div class="swiper-container swiper-banners">
				<div class="swiper-wrapper">
					<a class="swiper-slide" v-for="item in banners" :href="item.url">
						<img :src="item.img_url" :alt="item.title" />
					</a>
				</div>
				<div class="swiper-pagination"></div>
			</div>
			<div class="albums" v-for="album in albums">
				<div class="albums-title">
					<span v-text="album.title"></span>
					<span class="more-text" @click="albumMore(album)">更多&nbsp;&gt;&gt;</span>
				</div>
				<component-list :albums="album.albums"></component-list>
			</div>
			<component-gotop></component-gotop>
		</div>
		<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.20.0-0/axios.min.js"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
		<!-- 引入组件库 -->
		<script src="https://cdn.bootcdn.net/ajax/libs/mint-ui/2.2.13/index.js"></script>
		<script src="js/component-header.js"></script>
		<script src="js/component-list.js"></script>
		<script src="js/component-gotop.js"></script>
		<script src="js/resize.js"></script>
		<script>
			var swiperBanner = {};
			var vm = new Vue({
				el: "#app",
				data: {
					banners: [],
					albums: [],
					show_top: 0,
				},
				created: function() { 
					this.getBanners()
					this.getAlbums()
				},
				mounted: function() { 
			 
				},
				methods: {
					albumMore: function(item) {
						location.href = 'category.html?album_type=' + item.type
					},
					getBanners: function() {
						var that = this;
						// 模拟数据
						axios.get('./data/banners.json')
							.then(function(resp) {
								that.banners = resp.data.banners;
								that.$nextTick(function() {
									swiperBanner = new Swiper('.swiper-banners', {
										autoplay: true, //可选选项，自动滑动
										updateOnWindowResize: true,
										loop: true,
										pagination: {
											el: '.swiper-pagination',
										},
									})
								});
							});
					},
					getAlbums: function() {
						var that = this;
						// 模拟数据
						axios.get('./data/albums.json')
							.then(function(resp) { 
								that.albums = resp.data.albums
							});
					},
				},
			})
			 
		</script>
	</body>
</html>
