<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>问题反馈</title>
		<link rel="stylesheet" type="text/css" href="css/mint-ui.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
	</head>

	<body>
		<div class="vueBox" v-cloak id="app">
			<div class="page-box">
				<div class="suggest-title">
					<span class="text-star">*</span>
					<span>问题描述</span>
				</div>
				<div class="area-box">
					<textarea class="textarea-box" placeholder="请输入您的问题或建议" v-model="comment" @input="msgChange" :maxlength="maxlen"></textarea>
					<div class="amount-box">
						<p class="amount-txt" v-text="len"></p>
						<p class="amount-txt">/</p>
						<p class="amount-txt" v-text="maxlen"></p>
					</div>
				</div>
				<div class="suggest-title suggest-upload">
					<p>
						<span>上传图片</span>
						<span class="text-tip" v-text="'（'+imgList.length+'/3）'"></span>
					</p>
				</div>
				<ul class="upload_warp_imgs">
					<li v-for="(item,index) of imgList">
						<img class="upload_img" :src="item.file.src" alt="">
						<img :src="ico_del" class="upload_img_del" @click="fileDel(index)">
					</li>
					<li class="upload_warp_btn" v-show="imgList.length<3">
						<img class="ico-plus" :src="ico_plus">
						<input id="file" @change="fileChange($event)" type="file" accept="image/*" class="upload_file" />
					</li>
				</ul>
				<div class="suggest-title">
					<span class="text-star">*</span>
					<span>联系方式</span>
				</div>
				<input class="input-box" maxlength="11" type="text" placeholder="请输入手机号" v-model="mobile">
				<div class="btn-box">
					<div :class="[is_can?'btn-submit':'btn-submit-opacity']" @click="submitMsg">确认提交</div>
				</div>
			</div>

		</div>

	</body>
	<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/mint-ui.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/resize.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var is_submit = false;
		var vm = new Vue({
			el: '#app',
			data: {
				ico_plus: 'images/ico-plus.png',
				ico_del: 'images/ico-del.png',
				sid: '123',
				comment: '',
				maxlen: 200,
				len: 0,
				mobile: '',
				imgList: []
			},
			computed: {
				is_can: function() {
					return (this.comment && this.mobile && this.mobile.length >= 11)
				},
			},
			created: function() {
				if (localStorage.getItem('mobile')) {
					this.mobile = localStorage.getItem('mobile')
				}
			},
			methods: {
				msgChange: function() {
					this.len = this.comment.length;
				},
				// 图片上传
				fileChange: function(el) {
					if (!el.target.files[0].size) return;
					this.fileList(el.target.files);
					el.target.value = '';
				},
				fileList: function(files) {
					for (var i = 0; i < files.length; i++) {
						this.fileAdd(files[i]);
					}
				},
				fileAdd: function(file) {
					var _this = this;
					var reader = new FileReader();
					reader.readAsDataURL(file);
					reader.onload = function() {
						file.src = reader.result;
						_this.imgList.push({
							file: file
						});
					}
				},
				fileDel: function(index) {
					this.imgList.splice(index, 1);
				},
				submitMsg: function() {
					var _this = this;
					if (!_this.comment) {
						_this.$toast({
							message: '请输入您的问题或建议！',
							duration: 1000
						});
						return
					}
					if (_this.mobile.length < 11) {
						_this.$toast({
							message: '请输入正确的手机号码',
							duration: 1000
						});
						return
					}
					if (is_submit) {
						return false
					}
					is_submit = true;
					localStorage.setItem('mobile', _this.mobile);
					var url = '';
					var formData = new FormData();
					formData.append("platform", _this.platform);
					formData.append("sid", _this.sid);
					formData.append("mobile", _this.mobile);
					formData.append("content", _this.comment);
					for (var i = 0; i < _this.imgList.length; i++) {
						formData.append("imgs", _this.imgList[i].file);
					}
					console.log('formData', formData.get('mobile'));
					console.log('formData', formData.getAll('imgs'));
					axios.post(url, formData)
						.then(function(resp) {
							if (resp.error_code == 0) {
								setTimeout(function() {
									is_submit = false;
								}, 1200)
							} else {
								is_submit = true;
							}
							
						})
						.catch(function(er) {
							is_submit = false;
						})
			 
				}
			}
		});
	</script>
</html>
