html,
body {
    background-color: #fff;
}

.page-box {
    position: relative;
    font-size: 0;
    padding: 0 .32rem;
}

.suggest-title {
    font-size: .32rem;
    color: #444444;
    padding: .4rem 0 .2rem;
}

.suggest-upload {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.suggest-upload > span {
    font-size: .28rem;
    color: #969696;
}

.text-star {
    color: red
}

.text-tip {
    font-size: .3rem;
    color: #969696;
}

.area-box {
    position: relative;
    width: 6.9rem;
    height: 2.4rem;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
    border-radius: .1rem;
    border: 1px solid #E9ECF4;
}

.amount-box {
    position: absolute;
    right: .2rem;
    bottom: .1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex
}

.amount-txt {
    color: #969696;
    font-size: .26rem
}

.textarea-box {
    width: 100%;
    height: 100%;
    font-size: .28rem;
    padding: .28rem .18rem;
    resize: none;
}

.input-box {
    width: 100%;
    height: .84rem;
    font-size: .28rem;
    padding: 0 .18rem;
    -webkit-appearance: none;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
    border-radius: .1rem;
    border: 1px solid #E9ECF4;
}

.btn-box {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: .6rem;
    padding-bottom: .3rem;
}

.btn-submit, .btn-submit-opacity {
    position: relative;
    width: 6.7rem;
    height: 0.92rem;
    background: #15BCC3;
    border-radius: 0.46rem;
    font-size: .32rem;
    color: #fff;
    opacity: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.btn-submit-opacity {
    opacity: .3;
}

.suggest-history-tip {
    font-size: 0.24rem;
    color: #f00;
}

/*上传图片*/

.upload_warp_imgs {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.upload_warp_imgs > li {
    position: relative;
    width: 2rem;
    height: 2rem;
    background-color: #F6F6F6;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: .16rem;
}

.ico-plus {
    width: .4rem;
    height: .4rem;
}

.upload_file {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.upload_img {
    max-width: 100%;
    max-height: 100%;
}

.upload_img_del {
    position: absolute;
    top: 0;
    right: 0;
    width: .32rem;
    height: .32rem;
}
