@charset "utf-8";
body{font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei"; background-color:#ececec;}
ul, ol, li{
    margin: 0;
    padding: 0;
    border: 0;  list-style: none}
/*宽度比例*/
 
.w50 { width: 50%; }
 

a:hover{text-decoration: none}

.clearfix{
    clear: both;
    float: none;
}
 
 

/*======内容页标题=====*/
.container-fluid{height: 100%; }
.info-center{min-height: 90%;background-color: white}
.info-center .page-header{ width:100%;margin:0px 0px 0px 0px; padding:30px 10px;  }
.info-center .page-title{ width:100%;padding:10px;  }
.info-center .page-title h4{margin-top:20px; padding-left:8px;color: #363636;border-left: 2px solid #F44856;font-size: 18px; }

.edit_box .page-body{
    padding-left: 100px;
    padding-bottom: 40px;
}

/*上传单张图片*/
.img-border{
    position: relative;
    border: 1px solid #E8E8E8;
    width: 400px;
    height: 225px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img_updata{
    position: relative;
    text-align: center;
}
.img_updata .img_default{
    width: 60px;
    margin-bottom: 10px;

}
.img_upfile{
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.img_updata_tips{
    font-size: 14px;
    color: #999999;
}
.img_input_file{
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.img_updata_box{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}
.img_banner{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img_tips_cover{
    display: none;
    position: absolute;
    width: 100%;
    height: 40px;
    bottom:0;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    justify-content:center;
    align-items: center;
}
.btn-change{
    position: relative;
    font-size: 16px;
}
.img_updata_box:hover .img_tips_cover{
    display: flex;
}

/*多图上传*/
.book_info{
    font-size: 16px;
    color: #333333;
    margin-bottom: 25px;
}
.book_info .book_title{
    padding: 10px 0;
}
.book_info textarea{
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}
.book_info .img_updata_tips{
    padding: 10px 0;
    line-height: 30px;
    font-size: 14px;
    color: #999999;
}
.book_info  .img_updata_list{
    padding: 0;
}
.book_info  .img_updata_list li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 400px;
    height: 225px;
    border: 1px solid #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
    float: none;
    padding: 0;
}
.book_info  .img_updata_list li img{
    max-width: 100%;
    max-height: 100%;
}


 
 
/* placeholder 字体颜色*/
::-webkit-input-placeholder { /* WebKit browsers */
    color:#999;
    font-size: 14px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#999;font-size: 14px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#999;font-size: 14px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#999;font-size: 14px;
}
