@media only screen and (max-width: 1920px), only screen and (max-device-width:1920px) {
    html,body {
        font-size:256px;
    }
}
@media only screen and (max-width: 1080px), only screen and (max-device-width:1080px) {
    html,body {
        font-size:144px;
    }
}
@media only screen and (max-width: 960px), only screen and (max-device-width:960px) {
    html,body {
        font-size:128px;
    }
}
@media only screen and (max-width: 800px), only screen and (max-device-width:800px) {
    html,body {
        font-size:106.666667px;
    }
}
@media only screen and (max-width: 750px), only screen and (max-device-width:750px) {
    html,body {
        font-size:100px;
    }
}
@media only screen and (max-width: 640px), only screen and (max-device-width:640px) {
    html,body {
        font-size:85.333333px;
    }
}
@media only screen and (max-width: 600px), only screen and (max-device-width:600px) {
    html,body {
        font-size:80px;
    }
}
@media only screen and (max-width: 540px), only screen and (max-device-width:540px) {
    html,body {
        font-size:72px;
    }
}
@media only screen and (max-width: 480px), only screen and (max-device-width:480px) {
    html,body {
        font-size:64px;
    }
}
@media only screen and (max-width: 414px), only screen and (max-device-width:414px) {
    html,body {
        font-size:55.2px;
    }
}
@media only screen and (max-width: 412px), only screen and (max-device-width:412px) {
    html,body {
        font-size:54.8px;
    }
}
@media only screen and (max-width: 400px), only screen and (max-device-width:400px) {
    html,body {
        font-size:53.33333333px;
    }
}
@media only screen and (max-width: 375px), only screen and (max-device-width:375px) {
    html,body {
        font-size:50px;
    }
}
@media only screen and (max-width: 360px), only screen and (max-device-width:360px) {
    html,body {
        font-size:47.8px;
    }
}
@media only screen and (max-width: 320px), only screen and (max-device-width:320px) {
    html,body {
        font-size:42.4px;
    }
}
@media only screen and (max-width: 240px), only screen and (max-device-width:240px) {
    html,body {
        font-size:32px;
    }
}
/* css reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#f2f2f2; color:#000;font-size:12px; font-family: "微软雅黑";
  overflow: hidden;}
td,th,caption { font-size:12px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal;  }
/*font-size:100%;*/
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:black; text-decoration:none; }
a:hover { text-decoration:none;color: #00C6FF; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:12px Verdana,Helvetica,Arial,sans-serif;border: 0; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}
/*居中 位置 颜色 字体*/
