@media only screen and (max-width: 1920px), only screen and (max-device-width:1920px) {
    html,body { font-size:256px; }
}
@media only screen and (max-width: 1440px), only screen and (max-device-width:1440px) {
    html,body {  font-size:192px; }
}
@media only screen and (max-width: 1360px), only screen and (max-device-width:1360px) {
    html,body { font-size:182.133333px; }
}
@media only screen and (max-width: 1200px), only screen and (max-device-width:1200px) {
    html,body { font-size:160px; }
}
@media only screen and (max-width: 1080px), only screen and (max-device-width:1080px) {
    html,body { font-size:144px; }
}
@media only screen and (max-width: 1024px), only screen and (max-device-width:1024px) {
    html, body { font-size: 136.533333px; }
}
@media only screen and (max-width: 960px), only screen and (max-device-width:960px) {
    html,body { font-size:128px; }
}
@media only screen and (max-width: 800px), only screen and (max-device-width:800px) {
    html,body { font-size:106.666667px; }
}
@media only screen and (max-width: 768px), only screen and (max-device-width:800px) {
    html,body { font-size:102px; }
}
@media only screen and (max-width: 750px), only screen and (max-device-width:750px) {
    html,body { font-size:100px; }
}
@media only screen and (max-width: 640px), only screen and (max-device-width:640px) {
    html,body { font-size:85.333333px; }
}
@media only screen and (max-width: 600px), only screen and (max-device-width:600px) {
    html,body { font-size:80px; }
}
@media only screen and (max-width: 540px), only screen and (max-device-width:540px) {
    html,body { font-size:72px; }
}
@media only screen and (max-width: 480px), only screen and (max-device-width:480px) {
    html,body { font-size:64px; }
}
@media only screen and (max-width: 414px), only screen and (max-device-width:414px) {
    html,body { font-size:55.2px; }
}
@media only screen and (max-width: 412px), only screen and (max-device-width:412px) {
    html,body { font-size:54.8px; }
}
@media only screen and (max-width: 400px), only screen and (max-device-width:400px) {
    html,body {  font-size:53.33333333px; }
}
@media only screen and (max-width: 384px), only screen and (max-device-width:400px) {
    html,body { font-size:51.2px; }
}
@media only screen and (max-width: 375px), only screen and (max-device-width:375px) {
    html,body { font-size:50px; }
}
@media only screen and (max-width: 360px), only screen and (max-device-width:360px) {
    html,body { font-size:47.8px; }
}
@media only screen and (max-width: 320px), only screen and (max-device-width:320px) {
    html,body { font-size:42.4px; }
}
@media only screen and (max-width: 240px), only screen and (max-device-width:240px) {
    html,body { font-size:32px; }
}
/* css reset */
blockquote,body,button,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-weight:400;font-size:100%;}
address,caption,cite,code,dfn,em,strong,th,var{font-weight:400;font-style:normal;}
a{color:#333;text-decoration:none;}
a:hover{color:#00A6FF;text-decoration:none;}
img{border:none;}
li,ol,ul{list-style:none;}
button,input,select,textarea{border:none;font:14px Verdana,Helvetica,Arial,sans-serif;}
table{border-collapse:collapse;}
html{overflow-y:scroll;}
body,html{height:100%; background:#f7f7f7; font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif; }
body{-webkit-tap-highlight-color:rgba(0,0,0,0);/*透明度设置为0，去掉点击链接和文本框对象时默认的灰色半透明覆盖层(iOS)或者虚框(Android)*/}
input:focus{outline: none;}
/* placeholder 字体颜色*/
::-webkit-input-placeholder { color:#999; /* WebKit browsers */  }
:-moz-placeholder {color:#999;  /* Mozilla Firefox 4 to 18 */ }
::-moz-placeholder {color:#999;  /* Mozilla Firefox 19+ */ }
:-ms-input-placeholder { color:#999; /* Internet Explorer 10+ */ }
.fz28{font-size: 0.3rem}
.mb_20{margin-bottom:.2rem}
.pb_20{padding-bottom:.2rem}
.pad30{padding-right:.3rem;padding-left:.3rem}
.color_6{color:#666}
.color_red{color:#ED2121}
.height100{height:1rem}
.bg_white{background-color:#fff}
.book_title{position:relative;display:-webkit-flex;display:flex;-webkit-justify-content:center;justify-content:center;-webkit-align-items:center;align-items:center;height:0.88rem; color:#333;}
.audio_title{text-align: center;color: #01C5AD;font-size:.34rem; }
.ico_share{position:absolute;top:50%;right:.3rem;margin-top:-.15rem;width:.3rem;height:.3rem}
.box_radio{width:100%;padding-top: 0.5rem}
.ico_radio{width:100%}
.ico_video{width:100%}
.des_title{display:-webkit-flex;display:flex;padding:.2rem 0;color:#333;font-size:.26rem;-webkit-align-items:center;align-items:center}
.ico_avatar{margin-right:.3rem;width:.66rem;height:.66rem;border-radius:50%}
.des_sub_title{padding:.24rem 0;color:#1A1A1A;font-size:.3rem}
.green_line{padding-left:.18rem;height:.28rem;border-left:.06rem solid #01C5AD}
.des_info{margin-bottom:.2rem;padding:.3rem;border-radius:.05rem;background-color:#F7F7F7;color:#666;font-size:.28rem}
.lyric_wrap{
    position: relative;
    padding: 0;
    height:3.36rem;
    text-align: center;
    overflow: auto;
}
.lyric_wrap ul{
    position: absolute;
    width: 100%;
    top:0;
}
.lyric_wrap ul li{
    height: 0.48rem;
    line-height:0.48rem;
    overflow: hidden;
}
.lyric_wrap ul li.on{
    color: #6ECF00;
    font-size: 0.32rem;
}

/* 顶部搜索 */
.header{
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display:-webkit-flex;
    display:flex;
    -webkit-align-items:center;
    align-items:center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    height: 0.88rem;
    z-index: 999;
}
/*歌曲列表*/
.meun_btn{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display:-webkit-flex;display:flex;
    -webkit-align-items:center;
    align-items:center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0 0.3rem;
    height: 0.6rem;
    font-size: 0.3rem;
    background-color: #01C5AD;
    color: #fff;
    border-radius: 0.1rem;
}
.song_list{
    display:none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top:0.88rem;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0.03rem 0.13rem 0 rgba(0,0,0,.2);
    padding:0.3rem;
    height: auto;
    max-height:6rem ;
    overflow: auto
}
.song_list li{border-bottom:1px solid #efefef; font-size: 0.28rem;padding: 0.1rem 0; margin-bottom: 0.02rem;overflow: hidden;white-space: nowrap;text-overflow:ellipsis; color: #666}
.song_list li.cur{color: #01C5AD; }
/*歌曲搜索*/
.search_box{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display:-webkit-flex;display:flex;
    -webkit-align-items:center;
    align-items:center;

}
.search_input{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 4rem;
    height: 0.6rem;
    padding: 0 0.3rem;
    border:0.02rem solid #01C5AD;
    font-size: 0.28rem;
    border-radius: 0.1rem 0 0 0.1rem ;
}
.search_label{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display:-webkit-flex;display:flex;
    -webkit-align-items:center;
    align-items:center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0 0.3rem;
    height: 0.6rem;
    font-size: 0.3rem;
    background-color: #01C5AD;
    color: #fff;
    border-radius: 0 0.1rem 0.1rem 0;
}


/*****底部导航******/
.tabbar{position:fixed;bottom:0;z-index:99;display:-webkit-flex;display:flex;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;height:.88rem;border-top:.02rem solid rgba(0,0,0,.2);background-color:#000;-webkit-flex-direction:row;flex-direction:row;-webkit-align-items:center;align-items:center}
.tabbar >li{display:-webkit-flex;display:flex;-webkit-box-sizing:border-box;box-sizing:border-box;flex:1;-webkit-justify-content:center;justify-content:center;-webkit-align-items:center;align-items:center}
.tabbar > li span{padding-left:.1rem;color:#fff;font-size:.24rem}
.logo_book{margin-right:.28rem;width:.6rem;height:.6rem}
.logo_text_white{width:.66rem;height:.32rem}
.btn_prev,.btn_next{display:-webkit-flex;display:flex;-webkit-box-sizing:border-box;box-sizing:border-box;width:1.8rem;height:.6rem;border-radius:1rem;background-color:#23caff;-webkit-justify-content:center;justify-content:center;-webkit-align-items:center;align-items:center}
.btn_next{background-color:#6ECF00}
.ico_img{width:.28rem;height:.32rem}

