
/* 分页 */
.pagination-box {
	display: flex;
	font-size: 0.28rem;
	width: 100%;
	height: .88rem;
	background-color: #0090ff;
	margin-bottom: 0.2rem;
}

.pagination-box li {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.pagination-box li:hover {
	background-color: #134faa;
}

.pagination-box li:not(:first-child) {
	border-left: 1px solid #fff;
}

.pagination-box li.disable {
	color: #ccc;
	opacity: .5;
}
