.swiper-banners {
	width: 100%;
	height: 3.6rem;
	font-size: 0;
}

.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #EFEFEF;
}

.swiper-slide img {
	width: 100%;
	min-height: 100%;
}

