* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

li, ol, ul {
    list-style: none;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    color: #0380FF;
    text-decoration: none;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, .3);
    justify-content: center;
    align-items: center;
}
.hearder{
    position: relative;
    width: 690px;
    padding-left: 150px;
    z-index: 999;
}
.logo{
    position: absolute;
   height: 48px;
    left:0;

}
.nav {
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    flex-direction: row;
    align-items: center;
}

.nav li {
    z-index: 99;
    display: flex;
    margin-right: 10px;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #AA3A38;
}
.nav li:first-child{
    border-left: none;
}

.nav li a {
    padding: 0 10px;
    white-space: nowrap;
    font-size: 18px;
    color: #AA3A38;

}

.nav li a:hover,.nav li a.cur {
    color: #f35816;
}

.nav_focus {
    position: absolute;
    width: 100px;
    height: 40px;
    border: 1px solid #0380FF;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.container {
    margin-top: 60px;
}

.banner_box{
    position: relative;
    width: 100%;
    min-width: 1200px;
}
.banner_img{
    width: 100%;
    top:0;
    left: 0;
}
.banner_more{
    position: absolute;
    top:88%;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 999;

}
.banner_more:hover{
    opacity:0.8;
}
.more_move{
    animation:mymove 1.5s infinite;
}

@keyframes mymove
{
    0% { transform: translate(-50%,0); opacity: 1}
    100% {transform: translate(-50%,50%);opacity: 0}
}

.banner_left{
    position: absolute;
    top:0;
    left: 10%;
    width: 110px;
    transition: all 1s;
}
.banner_left_bg{
    position: absolute;
    top:0;
    width: 100%;
}
.banner_left_download{
    position: relative;
    margin-top: 210px;
    transition: all 1s;
}
.banner_left_top{
    margin-left: 15px;
    margin-bottom: 10px;
    width: 80px;
    height: 80px;
    position: relative;
    background-image: url("../images/banner_left_download_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner_left_top:hover{
    /*transform:scale(1.1,1.1);*/
}
.banner_left_text{
    color: #FFFFFF;
    white-space: nowrap;
}
.banner_left_txt{
    color: #aaa;
    white-space: nowrap;
}
.fz12{
     font-size: 12px;
 }
.fz14{
    font-size: 14px;
}

.banner_left_ios{
     opacity: 0.7;
    margin-bottom: 5px;
}


#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, .3);
    justify-content: center;
    align-items: center;
}
/*职业介绍*/
.swiper_box{
    position: relative;
    margin-top: -5px;
}
.swiperTab{
    position: absolute;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 9;
    top:80%;
    left: 20%;
    transition: top 1s;
}
.swiperTab li{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 128px;
    cursor: pointer;
}
.swiperTab li img {
     width: 50%;
}
.swiperTab li  img.tab_img,.swiperTab li.active img.tab_cur{
    display: block;
}
.swiperTab li  img.tab_cur,.swiperTab li.active img.tab_img{
    display: none;
}

.swiper-slide{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
.swiper-slide img{
    width: 100%;
}
@media only screen and (max-width: 1600px) {
    .swiperTab{
        top:78%;
    }
    .banner_left{
        width: 100px;
    }
    .banner_left_download{
        position: relative;
        margin-top: 185px;
    }
    .banner_left_top{
        width: 76px;
        height: 76px;
        margin-left: 12px;
    }
    }
@media only screen and (max-width: 1280px) {
    .swiperTab{
        top:75%;
    }

}

.about_box{
    margin-top: -5px;
    position: relative;
    width: 100%;
}
.about_box img{
    width: 100%;

}
.menu_box{
    position: fixed;
    width: 48px;
    height: 227px;
    background-image: url("../images/menu_bg.png");
    background-repeat: no-repeat;
    z-index: 99999;
    top:30%;
    right:5%;
}
.menu_top{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #AA3A38;
    top: 26px;
    display: block;
    
}

.menu_list{
    position: absolute;
    width: 100%;
     top: 75px;
}
.menu_list li{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    border: 1px solid transparent;
}
.menu_list li:nth-child(1){
    margin-bottom: 30px;
}
.menu_list li a{
    margin: auto;
    display: block;
    width: 16px ;
    height: 10px;
    border-radius: 67px;
}
.menu_list li a:hover{
    /*background: #ce3937;*/
}
.menu_list li a.cur{
    background: #AA3A38;
}
.menu_text{
    position: absolute;
    bottom: -40px;
    text-align: center;
    font-size: 12px;
    color: #AA3A38;
}